$clight: #fff;
$cprimary: rgb(0 163 195);
$cprimaryhover: rgb(178, 178, 178);
$curllight: rgb(2, 127, 151);

$cdarck: #000;

// Cubo 3D
$c3dlat9: #000;
$c3dlat7: #4b4b4b;
$c3dfon9: rgb(34, 34, 34);
$c3dfon7: #797979;

// Cubo 3D DARK
$c3dlat0: #ffffff;
$c3dlat3: #dadada;
$c3dfon0: #f6f6f6;
$c3dfon3: rgb(225 225 225);
