.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 100vw;
  color: #808080;
  transition: all 0.5s;
  p {
    text-align: center;
    padding: 5px 20px;
  }
}

.footerdark {
  background-color: #dadada;
}
