@import "../styles/variables.scss";

.sobremi {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  width: 100%;
  height: 100%;

  &__content {
    padding: 30px;
    max-width: 1000px;
    margin: 180px 0 120px 0;

    &__cards {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
      gap: 1.5em;

      svg {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        color: $clight;
        background-color: $cprimary;
        border-radius: 20px;
      }
    }
  }
}
